@layer components{
    .chat__messages{
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;
        gap: var(--space-md);
        padding: var(--space-xs) var(--space-md) !important;
    }

    .chat__message{
        display: flex;
        gap: var(--space-sm);
        max-width: 65%;
    }

    .chat__message-body {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }

    .chat__message--bot{
        align-self: flex-start;
    }

    .chat__message--user{
        align-self: flex-end;
        flex-direction: row-reverse;
    }

    .chat__message-avatar{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: var(--radius-full);
        background-color: var(--color-primary-light);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chat__message-bubble {
        padding: var(--space-sm) var(--space-md) !important;
        font-size: var(--font-size-md);
        border-radius: var(--radius-lg);
        line-height: var(--line-height-base);
    }
    
    .chat__message--bot .chat__message-bubble {
        background-color: var(--color-bg-message);
        color: var(--color-text-primary);
    }
    
    .chat__message--user .chat__message-bubble {
        background-color: var(--color-primary);
        color: white;
    }

    .chat__message-time{
        font-size: var(--font-size-xs);
        color: var(--color-text-secondary);
    }

    .chat__message--user .chat__message-time {
        align-self: flex-end;
    }
}