@layer components {
    .sidebar {
        height: calc(100dvh - 16px);
        display: flex;
        flex-direction: column;
        background-color: var(--color-primary-dark);
        gap: var(--space-xs);
        padding: var(--space-md) !important;
        border-radius: var(--radius-md);
        box-shadow: var(--shadow-card);
        color: var(--color-primary-light);
        overflow-y: hidden;
        align-self: stretch;
        
    }

    .sidebar__brand {
        display: flex;
        gap: var(--space-sm);
        padding-bottom: var(--space-md);
        border-bottom: 1px solid var(--color-primary-mid);
        align-items: center;
        margin-bottom: var(--space-xs);
    }

    .sidebar__logo {
        width: 2rem;
        height: 2rem;
        background-color: var(--color-primary);
        border-radius: var(--radius-sm);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    .sidebar__brand-text {
        display: flex;
        flex-direction: column;
    }

    .sidebar__brand-name {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-semibold);
    }

    .sidebar__brand-sub {
        font-size: var(--font-size-xs);
        color: var(--color-accent);
    }

    .sidebar__label {
        font-size: var(--font-size-xs);
        text-transform: uppercase;
        color: var(--color-accent);
        letter-spacing: var(--letter-spacing-wide);
        padding: var(--space-sm) var(--space-xs) !important;
    }

    .sidebar__item {
        display: flex;
        align-items: center;
        border-radius: var(--radius-sm);
        color: var(--color-primary-light);
        padding: var(--space-sm) var(--space-sm) !important;
        gap: var(--space-xs);
    }

    .sidebar__item--active {
        background-color: var(--color-primary-mid);
    }

    .sidebar__item::before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: var(--radius-full);
        background-color: var(--color-accent);
        flex-shrink: 0;
    }

    .sidebar__item-btn {
        width: 100%;
        color: inherit;
        font-size: var(--font-size-sm);
        text-align: left;
    }

    .sidebar__status {
        display: flex;
        background-color: var(--color-primary-mid);
        border-radius: var(--radius-sm);
        font-size: var(--font-size-sm);
        padding: var(--space-sm) var(--space-sm) !important;
        gap: var(--space-xs);
        align-items: center;
        margin-top: auto;
        flex-shrink: 0; 
    }

    .sidebar__status::before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: var(--radius-full);
        background-color: var(--color-status-online);
        flex-shrink: 0;
    }

    .sidebar__nav {
        flex: 1;
    }
}