@layer components{
    .chat{
        background-color: var(--color-bg-chat);
        border-radius: var(--radius-lg);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .chat__topbar{
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        border-bottom: 1px solid var(--color-border);
        padding: 0 var(--space-md) !important;

    }

    .chat__topbar-info{
        display: flex;
        align-items: center;
        gap: var(--space-sm);
    }

    .chat__topbar-avatar{
        width: 2rem;
        height: 2rem;
        border-radius: var(--radius-full);
        background-color: var(--color-primary-light);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    .chat__topbar-text{
        display: flex;
        flex-direction: column;
    }

    .chat__topbar-name{
        color: var(--color-text-primary);
        font-weight: var(--font-weight-semibold);
        font-size: var( --font-size-md);
    }

    .chat__topbar-sub{
        color: var(--color-text-secondary);
        font-size: var(--font-size-sm);
    }

    .chat__topbar-badge{
        background-color: var(--color-primary-light);
        color: var(--color-primary-mid);
        border-radius: var(--radius-full);
        font-size: var(--font-size-sm);
        padding: var(--space-xs) var(--space-md) !important;
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
    }
}