@import "./base/_reset.css";
@import "./base/_tokens.css";
@import "./base/_typography.css";
@import "./components/_input.css";
@import "./components/_messages.css";
@import "./components/_sidebar.css";
@import "./components/_topbar.css";

@layer reset, tokens, typography, components;

#app {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100%;
    height: 100dvh;
    gap: var(--space-md);
    padding: var(--space-sm) var(--space-lg) var(--space-sm) var(--space-md);
    background-color: var(--color-bg-app);
    overflow: hidden;
    align-items: stretch;
}

@media (max-width: 768px){
    #app{
        grid-template-columns: 1fr;
        padding: var(--space-xs);
    }

    .sidebar{
        display: none;
    }

    .chat__message{
        max-width: 90%;
    }

    .chat__inputbard-field{
        font-size: var(--font-size-xs);
        padding: var(--space-xs) var(--space-sm) !important;
    }

    .chat__inputbar-send{
        width: 2rem;
        height: 2rem;
    }
}