@layer typography{
    html{
        font-size: 16px;
        font-family: var(--font-sans);
        height: 100%;
    }

    body{
        color: var(--color-text-primary);
        line-height: var(--line-height-base);
        height: 100%;
    }
}