@layer typography{
    html{
        font-size: 16px;
        font-family: var(--font-sans);
    }

    body{
        color: var(--color-text-primary);
        line-height: var(--line-height-base);
        background-color: var(--color-bg-app);
    }
}